version: '3.9'

services:

  minio:
    image: minio/minio:latest
    container_name: minio
    ports: 
      - "9000:9000"
      - "9001:9001"
    env_file: .env
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data
    
  db:
    container_name: nil_postgres
    image: postgres:18
    env_file: .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - pgdata:/var/lib/postgresql
    ports:
      - "5432:5432"

  django:
    container_name: nil_django
    build:
      context: .
      dockerfile: djangoapp/Dockerfile
    ports:
      - "8000:8000"
    env_file: .env
    volumes:
      - ./:/app
    depends_on:
      - db
      - minio

  frontend:
    container_name: nil_frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    environment:
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - django

volumes:
  pgdata:
  minio_data:
